/HotelManager/build/
/HotelManger/nbproject/private/
HotelManger/nbproject/private/private.properties
HotelManger/nbproject/private/private.xml
HotelManger/nbproject/private/private.properties
HotelManger/build/