/HotelManager/build/
/HotelManager/nbproject/private/
HotelManager/nbproject/private/private.properties
HotelManager/nbproject/private/private.xml

/HotelManager1/build/
/HotelManager1/nbproject/private/

/HotelManager/dist/

*.properties
*.war
*.xml

